body{
  margin:0;
  font-family:Arial;
  background:#0b1220;
  color:white;
}

/* LOGIN */
#login{
  text-align:center;
  margin-top:40px;
}

input{
  padding:10px;
  font-size:18px;
}

button{
  padding:10px 15px;
  font-size:18px;
  margin:5px;
  cursor:pointer;
}

/* STUDENT CONTROLS */
#controls{
  text-align:center;
  margin:20px;
}

.plus{
  background:#16a34a;
  color:white;
}

.minus{
  background:#dc2626;
  color:white;
}

/* BOARD */
#board{
  padding:20px;
}

.row{
  display:flex;
  align-items:center;
  gap:10px;
  margin-bottom:12px;
}

.name{
  width:120px;
}

.bar-wrap{
  flex:1;
  background:#1f2937;
  height:20px;
  border-radius:10px;
  overflow:hidden;
}

.bar{
  height:100%;
  background:linear-gradient(90deg,#22c55e,#3b82f6);
  width:50%;
  transition:0.3s;
}

.score{
  width:40px;
  text-align:right;
}
