body{
  margin:0;
  font-family:Arial;
  background:#0b1220;
  color:white;
}

/* LOGIN */
#login{
  text-align:center;
  margin-top:40px;
}

input{
  padding:10px;
  font-size:18px;
}

button{
  padding:10px 15px;
  font-size:18px;
  margin:5px;
  cursor:pointer;
}

/* CONTROLS */
#controls{
  text-align:center;
  margin:20px;
}

.plus{
  background:#16a34a;
  color:white;
}

.minus{
  background:#dc2626;
  color:white;
}

/* ADMIN */
#admin{
  text-align:center;
  margin:10px;
  display:block;
}

#admin button{
  background:#f97316;
  color:white;
  font-weight:bold;
}

/* BOARD */
#board{
  padding:10px;
}

.row{
  display:flex;
  align-items:center;
  gap:10px;
  margin-bottom:10px;
}

.name{
  width:120px;
}

/* BAR */
.bar-wrap{
  flex:1;
  background:#1f2937;
  height:18px;
  border-radius:10px;
  overflow:hidden;
}

.bar{
  height:100%;
  width:0%;
  background:linear-gradient(90deg,#22c55e,#3b82f6);
  transition:0.3s;
}

.score{
  width:40px;
  text-align:right;
}

/* MOBILE */
@media (max-width: 700px){

  .row{
    flex-direction:column;
    align-items:flex-start;
  }

  .name{
    width:auto;
  }

  #admin{
    display:none;
  }

  .bar-wrap{
    width:100%;
  }
}
